parameters:
    level: 10
    paths:
        - src/
        - tests/
    ergebnis:
        final:
            enabled: false
        noExtends:
            enabled: false
        noNullableReturnTypeDeclaration:
            enabled: false
        noConstructorParameterWithDefaultValue:
            enabled: false
        noParameterWithNullDefaultValue:
            enabled: false
        noParameterWithNullableTypeDeclaration:
            enabled: false
        noParameterWithContainerTypeDeclaration:
            enabled: false
